.logo{
    width: 10%;
    
}
.menu{
display: flex;
flex-direction: row;
}
.navbar-custom, #title{
    background-color: #00ACC1;
    
}
.navitem-custom{
    border: 1px solid rgb(64, 101, 105);
    border-radius: 0.2rem;
    padding: 0px 1rem;
    background-color: rgb(77, 132, 139);
    margin: 0 0.4rem; 
}
